@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@1,800&family=Comfortaa:wght@300&family=Montserrat:wght@300&family=Prompt:ital,wght@1,100&family=Roboto:wght@100&display=swap');
* {
    text-align: center;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 15px;
}

body>main>ul>li>p,
.options {
    height: 2rem;
}

svg,
img {
    margin: auto;
}

options>svg {
    margin: 5px;
    max-width:calc(10vw-20px);
}

svg {
    width: 1rem;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent; 
    margin: auto;
}

.items {
    padding: 5px 0;
}

.item {
    height: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22vw, 1fr));
    gap: 2px;
    margin: 7px 0px;
    padding: 0px;
    border: 1px solid rgb(3, 212, 52);
    border-radius: 15px;
}

body>main>ul>li>p {
    border-left: 1px solid rgb(3, 132, 111);
}

body>main>ul>li>p:nth-child(3) {
    border-right: 1px solid rgb(3, 132, 111);
}
.options{
    min-width: 3rem;
    margin: auto;
}
.positive {
    color: greenyellow;
}

.negative {
    color: red;
}

.find {
    border: 1px solid rgb(3, 132, 111);
    border-radius: 5px;
}

.btn {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(241, 255, 254, 0.352) 0%, rgba(148, 171, 233, 1) 100%);
}

input {
    text-align: justify;
}